Create Your Questions!
<form action="/surveys/<%= @survey_id %>/questions" method="post">
  Question 1 <input type="text" name="question1"><br/>
  Question 2 <input type="text" name="question2"><br/>
  Question 3 <input type="text" name="question3"><br/>


<input type="submit">
</form> 
