<h1>Create Survey</h1>
<form action="/create_survey_form" method="post">
  <label>Survey Title</label> <input type="text" name="survey_title" required>
 <label>Number of Questions</label> <input type="number" name="question_number" min="1">
<input type="submit">
</form> 

