<h1>Sign up</h1>
<form id="signup" action="/signup" method="post">
  <label for="first_name">First name:</label>
  <input type="text" name="first_name" id="first_name">

  <label for="last_name">Last name:</label>
  <input type="text" name="last_name" id="last_name">

  <label for="email">Email:</label>
  <input type="text" name="email" id="email">

  <label for="password">Password:</label>
  <input type="password" name="password" id="password">

  <input type="submit" value="Sign up">
</form>
