<form action="/create_survey_form">
  <input type="submit" value="Create New Survey">
</form>

<% @surveys.each do |survey| %>
  <p>
  <!-- #enter link to survey -->
    <%= survey.title %>
  </p>
<% end %>