<form action="/create_survey_form">
  <input type="submit" value="Create New Survey">
</form>

<% @surveys.each do |survey| %>
  <p>
    <a href="/surveys/all_responses/<%=survey.id%>">
    <%= survey.title %>
    </a>
  </p>
<% end %>